/* Cabecera */

li{
  display: inline-block;
  position: relative;
  margin: 0 0 0 0;
  padding: 0;
  margin-left: 160px;
}

#googlefonts3{
  font-family: 'Lora', serif;
}

#imagen-insta{
  margin-top: 5px;
}

#logo{
  width: 40px;
  margin-top: -10px;
}



/* Formulario/Contacto */

#formulario{
  margin-top: 130px;
}

#color{
  background-color: #ededed;
  height: 720px;
}

#titulo{
  margin-top: 40px;
  margin-left: 15px;
  color: black;
}

#nombre{
  margin-left: 15px;
  margin-top: 25px;
  width: 178px;
}

#apellidos{
  margin-left: 15px;
  margin-top: 15px;
  width: 178px;
}

#email{
 margin-left: 15px;
 width: 178px;
}

#telefono{
   margin-left: 15px;
   margin-top: 20px;
   width: 178px;
}

#asunto{
  margin-left: 15px;
  width: 300px;
  position: relative;
}

#mensaje{
  margin-left: 15px;
  resize: none;
}

#boton{
  background-color: black;
  color: white;
  margin-left: 15px;
  width: 300px;
  text-align: center;
  border-style: none;
  border-radius: 25px;
}

#donde{
  margin-top: 163px;
  padding-left: 15px;
  color: green;
}

#calle{
  margin-top: 20px;
  padding-left: 15px;
  color: black;
}

#mapa{
  padding-left: 10px;
  margin-top: 40px;
}

span{
  padding-left: 12px;
  color: #232323;
}

#emails{
  position: absolute;
  margin-top: 180px;
  color: black;
  padding-left: 15px;
}

#emails1{
  color: green;
  margin-top: 140px;
  padding-left: 15px;
}

#telf{
  color: green;
  padding-left: 15px;
  margin-top: 10px;
}

#telf2{
  margin-top: 60px;
  margin-left: -75px;
  color: black;
}

#mov{
  padding-left: 30px;
}


/* Footer */

footer{
  height: auto;
  background-color: #000;
  margin-top: 80px;
}

#col-footer{
  margin-top: 60px;
  color: white;
  margin-right: auto;
}

#col2-footer{
  margin-top: 40px;
  color: white;
  margin-left: auto;
}

#wid{
  padding-left: 50px;
}

#desplazar{
  margin-top: 60px;
  color: white;
}
