/* Cabecera */

li{
  display: inline-block;
  position: relative;
  margin: 0 5px 0 0;
  padding: 0;
  margin-left: 180px;
}
#googlefonts2{
  font-family: 'Lora', serif;
}

#imagen-1{
  width: 100%;
  margin-top: 60px;
  height: 100%;
}

#imagen-insta{
  margin-top: 5px;
}

#logo{
  width: 40px;
  margin-top: -10px;
}


/* Seccion 1 */

#seccion1{
  text-align: center;
  height: auto;
  margin-top: 60px;
  background-color: black;
  color: white;
}

/* Seccion 2 */
#seccion2{
  width: 100%;
  height: auto;
  margin-top: 50px;
}

#col-6{
  margin-top: 50px;
  text-align: center;
}

#icons{
  font-size: 80px;
}

#col-6-2{
margin-top: 50px;
text-align: center;
}

.tarifa-horario{
  text-align: center;
}

label, #verde{
  color: green;
}




/* Seccion 3 */

#seccion3{
  background-color: black;
  width: 100%;
  height: 300px;;
  color: white;
  text-align: center;
}


/* Seccion 4 */

 #seccion4{
  text-align: center;
  height: auto;
  margin-top: 100px;
}

#horarios{
  text-align: center;
}

/* Columa 1 */

div#uno {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-image: url("https://img.freepik.com/vector-gratis/lindo-personaje-dibujos-animados-chico-takwando_78094-578.jpg?size=338&ext=jpg");
  margin: 90px ;
  margin-top: 100px;
  opacity: 1.5;
}


div#tres {
  position: absolute;
  overflow:hidden;
  width: 300px;
  height: 300px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
  color: white;
}

div#uno:hover div#tres {
  opacity:1;
}

p#dos {
  position: absolute;
  font-size: 1.5rem;
  margin-left: -75px;
  margin-top: 15px;
  transition: margin-left 0.3s;
}

div#uno:hover p#dos {
  margin-left: 115px;
}

p#cuatro {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}

div#uno:hover p#cuatro {
  margin-top: 75px;
}



/* Columna 2 */

div#uno-uno {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/15/76/07/1576072cd49ad35b04673412d4b24d64.png");
  margin: 10px ;
  margin-top: 100px;
  opacity: 1.5;
}


div#tres-tres {
  position:absolute;
  overflow:hidden;
  width: 300px;
  height: 300px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
  color: white;
}

div#uno-uno:hover div#tres-tres {
  opacity:1;
}

p#dos-dos {
  position: absolute;
  font-size: 1.5rem;
  margin-left: -75px;
  margin-top: 15px;
  transition: margin-left 0.3s;
}

div#uno-uno:hover p#dos-dos {
  margin-left: 115px;
}

p#cuatro-cuatro {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}

div#uno-uno:hover p#cuatro-cuatro {
  margin-top: 75px;
}


/* Footer */

footer{
  height: auto;
  background-color: #000;
  margin-top: 80px;
}

#col-footer{
  margin-top: 60px;
  color: white;
  margin-right: auto;
}

#col2-footer{
  margin-top: 40px;
  color: white;
  margin-left: auto;
}

#wid{
  padding-left: 50px;
}

#desplazar{
  margin-top: 60px;
  color: white;
}
