/* Cabecera */

li{
  display: inline-block;
  position: relative;
  margin: 0 5px 0 0;
  padding: 0;
  margin-left: 180px;
}

#googlefonts{
  font-family: 'Lora', serif;
}

#imagen-insta{
  margin-top: 5px;
}

#logo{
  width: 40px;
  margin-top: -10px;
}




#taeks{
  text-align: center;
  margin-top: 80px;
}

#movertext{
  margin-top: 100px;
  text-align: inherit;
}

#moverimg{
  margin-top: 40px;
  width: 100%;
}

footer{
  height: auto;
  background-color: #000;
  margin-top: 80px;
}

#col-footer{
  margin-top: 60px;
  color: white;
  margin-right: auto;
}

#col2-footer{
  margin-top: 40px;
  color: white;
  margin-left: auto;
}

#wid{
  padding-left: 50px;
}

#desplazar{
  margin-top: 60px;
  color: white;
}
